<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219732252842-4ad91qfj9har1756pm3359tenipmgk44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219732252842-4ad91qfj9har1756pm3359tenipmgk44</string>
	<key>API_KEY</key>
	<string>AIzaSyA39hlRN0c81JSDFxYSV8EdVHSETb5kSZg</string>
	<key>GCM_SENDER_ID</key>
	<string>219732252842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feldrise.pluctis</string>
	<key>PROJECT_ID</key>
	<string>pluctis</string>
	<key>STORAGE_BUCKET</key>
	<string>pluctis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219732252842:ios:bdfb77c63a2827d284d8d3</string>
	<key>DATABASE_URL</key>
	<string>https://pluctis.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2186575813138730~8844046895</string>
</dict>
</plist>